<!DOCTYPE html>
<html lang="uk"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Зміна паролю</title>
    <link rel="stylesheet" th:href="@{/css/nuleStyle.css}">
    <link rel="stylesheet" th:href="@{/css/homeStyle.css}">
    <link th:href="@{/css/addUserStyle.css}" rel="stylesheet" />
    <link rel="icon" th:href="@{/img/logo.png}" type="image/png">
</head>

<header th:replace="~{general/header.html :: header}">
</header>
<body>


<div class="page-wrapper">
    <main class="container-content">
        <div class="container-form">
<form th:action="@{/changeUserPsw/{id}(id=${userId})}" method="post" th:object="${newUser}">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />

    <div class="info-user">
        <h1 class="main-header">Зміна паролю</h1>
        <p>Заповніть цю форму для зміни паролю.</p>

    </div>
    <div class="content">
        <label class="input-name" for="psw"><b>Новий пароль:</b></label>
        <input class="form-input" type="password" placeholder="Введіть пароль" name="psw" id="psw" required
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">

        <label class="input-name" for="psw-repeat"><b>Пітвердження паролю</b></label>
        <p class="pas-err" id="pswErr"></p>
        <input class="form-input" type="password" placeholder="Повторіть пароль"
               name="psw-repeat" id="psw-repeat" required
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
    </div>
    <button type="submit" class="btn-send" onclick="checkPassword()">Змінити</button>
</form>
        </div>
    </main>
    <footer th:replace="~{general/header.html :: footer}"></footer>
</div>
<script>
    function checkPassword(){
        let password = document.getElementById("psw").value;
        let repeatPassword = document.getElementById("psw-repeat").value;
        let pswErr = document.getElementById("pswErr");

        if(password.length !== 0){
            if(password !== repeatPassword){
                pswErr.textContent = "Паролі не співпадають";
                pswErr.style.backgroundColor = "#ff4d4d";
            }
        }
    }
</script>
</body>
</html>