<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>403</title>
<!--    <link rel="stylesheet" th:href="@{/css/homeStyle.css}">-->
    <link th:href="@{/css/forbiddenStyle.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" th:href="@{/img/logo.png}" type="image/png">
</head>
<body>
<div class="container">
    <div class="logo-lock"><i class="fa-solid fa-lock"></i></div>
    <div class="message">
        <h1>Дозвіл до цієї сторінки заборонено</h1>
        <p>Зв'яжіться з адміністратором, якщо вважеєте, що сталася помилка.</p>
    </div>
</div>
</body>
</html>