
.error {
    background-color: #efd4d4;
    color: #e00511;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
}

.file-input {
    margin: auto;
    padding: 2em;
    border: 2px dashed #bbb;
    background-color: #f3f0f0;
    &::file-selector-button{
        padding: 1em 1.5em;
        border-width: 0;
        border-radius: 2em;
        background-color: #17b44e;
        color: hsl(207, 36%, 90%);
        cursor: pointer;
        margin-right: 1em;
    }}
.content .input-name{
    display: block;
    margin-bottom: 15px;
}